https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap%27);

* {
    box-sizing: border-box;
}

body {
    font-family: 'libre Franklin', sans-serif;
}

main {
    margin: 60px auto;
    max-width: 650px;
    text-align: center;
}

h1 {
    color: hsl(0, 0%, 59%);
    font-weight: 300;
    font-size: 50px;
    margin-bottom: 10px;
}

h1 strong {
    color: hsl(209, 33%, 12%);
}

h2 {
    font-weight: 300;
}

form {
    margin-top: 50px;
}

input {
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 50px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    padding: 20px 25px;
    width: 425px;
    max-width: 100%;

}

input::placeholder {
    color: hsl(223, 100%, 88%);
}

button {
    background-color: hsl(223, 87%, 63%);
    border: none;
    border-radius: 50px;
    color: #fff;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 60px;
    margin-left: 20px;
    position:absolute;
    
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}


img {
    max-width: 100%;
    margin: 60px 0;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

.social-list li {
    margin: 20px;
}

.social-list li a {
    border: 1px solid hsl(0, 0%, 59%);
    border-radius: 50%;
    color: hsl(223, 87%, 63%);
}